    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/list-course/">Список курсов</a></li>
        <li><a href="/list-category/">Список категорий</a></li>
        <li><a href="/create-course/">Создать курс</a></li>
        <li><a href="/create-category/">Создать категорию</a></li>
        <li><a href="/list-student/">Список студентов</a></li>
        <li><a href="/create-student/">Создать студента</a></li>
        <li><a href="/add-student/">Добавить студента на курс</a></li>
        <li><a href="/authors/">Авторы</a></li>
        <li><a href="/contacts/">Контакты</a></li>
        <li><a href="/about/">О проекте</a></li>
    </ul>
